{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
<div class="container mt-3">
    <h2>Todo List</h2>
    <table class="table mt-2">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due date</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% if todoItems is defined %}
            {% for todoItem in todoItems %}
                <tr>
                    <td>{{ todoItem.title }}</td>
                    <td>{{ todoItem.description }}</td>
                    <td>{{ todoItem.dueDate|date('Y-m-d') }}</td>
                    <td><a href="{{ path('app_todo_updatetodo', {'id': todoItem.id }) }}">Update</a></td>
                    <td><a href="{{ path('app_todo_deletetodo', {'id': todoItem.id}) }}" class="text-danger">Delete</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <a href="{{ path('create_todo') }}" class="btn btn-primary">Add Todo</a>
</div>
{% endblock %}
